SUPABASE_URL=https://zbubmbabexopfxbrlxyf.supabase.co
SUPABASE_ANON_KEY=sb_publishable_2uQlTeGiKvtnf6CPaDkunA_PcaScDDt
RESEND_API_KEY=your_resend_api_key_here
OWNER_EMAIL=owner@soham.com
UPI_ID=chetnabharvada1234@okhdfcbank
PG_NAME=Soham
